.table {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-1, .note-2, .note-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    position: relative; 
}

.note-1 {
    background-color: #ff5d8f;
    top: 50px;
    left: 50px;
    z-index: 2;  
}

.note-2 {
    background-color: #72ddf7;
    top: 15px;
    left: 10px;
    z-index: 1;
}

.note-3 {
    background-color: #60d394;
    top: -20px;
    left: -30px;
    z-index: 0;  
}
